/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* unique styles */
body{
    width: 100%;
    overflow-x:hidden;
}
a{
    text-decoration: none;

}
:root {
   --color-primary: #5956e9;
   --color-primary-sub: #3937b5;
   --light-white: #ffffff;
   --dark: #27272E;
   --color-dark: #000000;
   --color-gray: #525260;
   --light-gray: rgb(140, 135, 135);
   --bg-color-light: #ECF2F6;
   --text-color-gray: #99A1AA;
   --color-accent: #FFDC60;
   
  }
.mb-10{
    margin-bottom: 10px!important;
}
/* buttons */
.hexancy-btn{
    border:none;
    padding: 28px 45px;
    box-shadow: 0 44px 84px -24px var(--color-primary);
    background: var(--color-primary);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--light-white);
}
.hexancy-btn:hover{
    color:var(--light-white);
    background: var(--color-primary-sub);
}
.custom-btn-toggler{
    background: #ECF2F6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.custom-btn-toggler:hover{
    background: #ECF2F6;
    border: none;
}
.icon-toggler{
    width: 30px;
    height: 2px;
    background: var(--dark);
    margin-bottom: 5px;
    transition: all linear 0.3s;
}
.icon-toggler-middle{
    width: 30px;
    height: 2px;
    background: var(--dark);
    margin-bottom: 5px;
    transition: all linear 0.3s;
}
.icon-toggler-last{
    width: 25px;
    height: 2px;
    margin-left: 5px;
    background: var(--dark);
    transition: all linear 0.3s;
}
.custom-btn-toggler:hover .icon-toggler-last{
    width: 30px;
    height: 2px;
    margin-left: 0;
    background: var(--dark);
}
.custom-btn-toggler:hover .icon-toggler{
    width: 25px;
    height: 2px;
    margin-left: 5px;
    background: var(--dark);
}
/* header */
header{
    position: relative;
}
.topHeaderBackground{
    position: absolute;
    z-index: -1;
    top: -2%;
}
.logo{
    font-family: 'DM Sans', sans-serif;
    color: var(--color-dark);
    font-weight: 500;
    margin-top: 25px;
}
/* offcanvas  */
label{
    padding: none!important;
    font-size: 18px!important;
}
input[type='search']{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--color-dark)!important;
    outline: none!important;
}
input[type='search']:focus{
   border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #ffffff;
  outline: none;
}
/* banner */
#banner{
    margin-top: 70px;
    position: relative;
}
.bubbleOne{
    width: 20px;
    position:absolute;
    top: 9%;
    left: 10%;
    z-index: -1;
    animation-name: bubbleOne;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.bubbleTwo{
    width: 20px;
    position:absolute;
    bottom: 10%;
    left: 0%;
    z-index: -1;
    animation-name: bubbleTwo;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}


@keyframes bubbleOne{
   0%{
    top: 9%;
    left: 0%;
   }
   40%{
     top: 30%;
     left: 95%; 
   }
   70%{
    top: 30%;
    left: 0%;
   }
   100%{
    top: 9%;
    left:0%;
   }
}

 @keyframes bubbleTwo{
    0%{
        bottom: 10%;
        left: 0%;
    }
    50%{
      bottom: 10%;
      left:50%; 
    }
    70%{
     bottom: 50%;
     left: 50%;
    }
    100%{
        bottom: 10%;
        left: 0%;
    }
 } 
.banner-content{
    margin-right: 10%;
}
.banner-content h1{
    color: var(--color-dark);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 68px;
    line-height:70px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
   
}
.banner-content p{
    color:var(--color-gray);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom:40px;
    z-index: 1;
    position: relative;

}
.banner-image{
    position: relative;
    z-index: 1;
}
.image-front{
    margin-top: 22%;
    z-index:1;
}
.image-back{
    position: absolute;
    z-index: -1;
    left:-20%;
    top: 0%;
}
.imageBackRightOne{
    position: absolute;
    z-index: -2;
    top: -15%;
    right:-7%;
    width: 58%;
}
.image-back-right{
    position: absolute;
    z-index: -1;
    right:7%;
    top: -2%;
}


/* service area */
#service{
    margin-top: -16px;
    padding-top: 120px;
    padding-bottom: 60px;
    background: var(--dark);
    position: relative;
    z-index: 1;
}
.serviceLine{
    top: 5%;
    right: 0%;
    position: absolute;
    z-index: -1;
}
.serviceBubble{
    top: 50%;
    position: absolute;
    z-index: 1;
}
.serviceBubbleCircle{
    top: 48%;
    left: 5.5%;
    position: absolute;
    z-index: 1;
}
.service-information{
    padding-right: 40px;
}
.title{
    font-family: 'DM Sans', sans-serif;
    color: var(--light-white);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.subtitle{
    color: #c75c6f;
    font-weight: 500;
    font-size: 23px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.section-paragraph{
    color:var(--color-gray);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom:40px;

   
}
.service-category{
    padding: 40px 40px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    z-index: 1;
    
}
.service-category:hover .service-link{
    color: #c75c6f;
}
.service-category:hover .service-paragraph{
    color: var(--light-white);
    transition: all 0.3s ease-in;
}
.service-category:hover{
    background:  #232326; 
}
.service-content .subtitle{
    color: var(--light-white);
}
.service-content .subtitle:hover{
    color: var(--color-primary);
    transition: all 0.3s ease-in;
}
.service-paragraph{
    font-family: 'Poppins', sans-serif;
    color:#676774;
    font-size: 17px;
    margin: 35px 0px;
}
.service-link{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--light-white);
    position: relative;
    padding: 50px;
    transition:all 0.3s ease-in-out;

}
.service-link::before{
    content: '';
    width: 34px;
    height: 1px;
    background-color: var(--light-white);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    
}
.service-link:hover{
    color: #c75c6f;
}


/* case study slider */
#caseStudy{
    padding: 50px 0px;
    margin: 60px 0px;
   
}
.caseStudyContent .title{
    line-height: 60px;
}
.caseStudyParagraph{
    font-size: 16px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    /* padding-right: 30px; */
}
.caseStudyContent .hexancy-btn{
    box-shadow: none;

}
.counter-up{
    margin: 60px 0px;
}
.first-counter{
    margin-right: 120px;
    position: relative;
}
.first-counter::after{
    content: '';
    width: 1px;
    height: 70px;
    background-color: var(--light-gray);
    position: absolute;
    top: 10%;
    right: 0%;
    /* -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); */
    transform: translateX(60%);
    margin-right: -50px;
}
.counter-number{
    font-family: 'Poppins', sans-serif;
    color: #c75c6f;
    font-size: 3em;
}
.counter-title{
    font-family: 'Poppins', sans-serif;
    color: var(--color-gray);
    font-size: 16px;
}

.carousel-indicators {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding: 0;
    margin-right: 0%;
    margin-bottom: 0;
    margin-left: 7%;
    list-style: none;
}

.carousel-indicators [data-bs-target]{
  
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 12px;
        height: 12px;
        padding: 0;
        margin-right: 20px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: var(--color-primary);
        background-clip: padding-box;
        border: 0;
        border-radius: 50%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 1;
}


/* about us section */
#aboutUs{
    background: var(--bg-color-light);
    padding: 100px 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
.aboutus-bubble{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.aboutus-line{
    position: absolute;
    z-index: -1;
}
.aboutus-lineTwo{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

}
.aboutUs-content{
    margin-top: 7%;
}
.aboutUs-content .title{
    font-weight: 500;
    font-size: 3.5em;
}
.aboutUsParagraph{
    font-size: 18px;
    color: var(--color-gray);
    font-family: 'Poppins', sans-serif;
}
.contact-form{
    padding: 40px 40px;
    background-color: #ffffff;
    border:0;
    border-radius: 30px;
    margin-left: 5%;
}
.contact-form .title{
    font-size: 35px;
    color: var(--color-dark)
}
.contact-form .hexancy-btn{
    width: 100%;
    padding: 15px 30px;
    border-radius: 16px;
    font-size: 16px;
}

.custom-form-label{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.custom-input-field{
    border: 1px solid #ECF2F6;
    border-radius: 16px;
    background-color: transparent;
    color: var(--dark);
    padding: 15px 20px;
}
input[type=text]:focus{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
}
input[type=email]:focus{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
}
input[type=tel]:focus{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
}

/* counter up start */
#counterUp{
    background: var(--dark);
    padding: 100px 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;

}

.counterUpParagraph{
    font-size: 18px;
    color: var(--text-color-gray);
    font-family: 'Poppins', sans-serif;
}

.counterUpCategory{
    padding: 70px 20px 70px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s linear;
    margin-right: 20px;

}
.counterUpCategory:hover{
    border-image-source: linear-gradient(0deg, #27272E 64.45%, rgba(74, 75, 86, 0.72) 100%);
    background: linear-gradient(180deg, #27272E 0%, #303035 100%);
}
.counterUpCategory .title{
  color: var(--color-primary-sub);
  letter-spacing: 0px;
}
.counterup-title{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: var(--light-white)
}

/* testimonial start */
#testimonial{
    padding-bottom: 100px;
    background: url('/assets/others/bubble-1.png');
    background-repeat: no-repeat;
    background-size: auto;
   background-position-x: 70%;
   background-position-y: 0%;
   
}

.testimonialParagraph{
        font-size: 18px;
        color: var(--text-color-gray);
        font-family: 'Poppins', sans-serif;
}
.single-testimonial{
    margin-top: 30px;
    border-top: 2px solid transparent;
    padding-top: 30px;
    padding-right: 20px;
    transition: all 0.3s linear;
    
}
.single-testimonial:hover{
    border-color: var(--color-primary);
}

blockquote.quotes{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.profileName{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:var(--color-dark);
    margin-left: 17px;
    margin-bottom: 0px;
}
.designation{
    font-weight: 400;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:var(--text-color-gray);
    margin-left: 17px;
    margin-top: 0px;
}

/* pricing plan start */
#pricingPlan{
    padding: 100px 0px;
    background: var(--bg-color-light);
}
.pricing-paragraph{
    font-size: 18px!important;
    color: var(--text-color-gray)!important;
    font-family: 'Poppins', sans-serif!important;
}
.billing-tab{
    background: var(--light-white);
    padding: 5px 5px;
    border-radius: 50px;
    border: 1px solid #E3E6E9;

}
.billing-tab .hexancy-btn{
    box-shadow: none;
    border: none;
    padding: 15px 30px;
    font-size: 17px;
    margin-right: 0px;
}
.pricing-table{
    padding: 50px 40px;
    border-radius: 30px;
    background-color:var(--light-white);
    margin-right: 25px;
    transition: all 0.5s linear;
    cursor: pointer;

}
.pricing-table:hover{
    background: var(--color-primary);
    color: var(--light-white)!important;
}
.pricing-table-header .title{
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
.pricing-table:hover .pricing-table-header .title{
    color: var(--light-white)!important;
}
.pricing-paragraph{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
}
.pricing-table:hover .pricing-table-header .pricing-paragraph{
    color: var(--light-white)!important;
}
.pricing-details{
    padding-top: 30px;
    border-top: 1px solid #E3E6E9;
}
.pricing-table:hover .pricing-details{
    border-top: 1px solid var(--text-color-gray);
}
.pricing-details .title{
    font-size: 60px;
}
.pricing-table:hover .pricing-details .title{
    color: var(--light-white)!important;
}
span.billing-duration{
    font-size: 14px;
    color: var(--text-color-gray);
    margin-left: 5px;
}
.pricing-table:hover span.billing-duration{
    color: var(--light-white)!important;
}
.pricing-details .hexancy-btn{
    box-shadow: none;
    background: var(--light-white);
    color: var(--dark);
    border: 1px solid #99A1AA;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 20px;
}

.pricing-table .hexancy-btn:hover{
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
}
.features{
    padding-top: 30px;
}
.custom-list-item{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-gray);
    border: none;
    margin-bottom: 5px;
    background: none;
}
.pricing-table:hover .custom-list-item{
   color: var(--light-white);
}

/* top clients */
#topClients{
    background: var(--dark);
    padding: 120px 0px;
    width: 100%;
}
.brand{
    filter: grayscale(100%);
    transition: all 0.3s linear;
}
.brand:hover{
    filter: grayscale(0);
}
.single-testimonial:hover .brand{
    filter: grayscale(0);
}


/* call to action area */

#callToAction{
    
    padding: 130px 0px;
    background: var(--color-primary);
    position: relative;
    height: 730px;
    width: 100%;
    z-index: 1;

}
.topBG{
    position: absolute;
    top: 0;
    left: 32%;
    z-index: -1;
}
.bubble-callOne{
    position: absolute;
    z-index: -1;
    top: 35%;
    right: 15%;
    animation-name: bubbleCallOne;
   animation-duration: 15s;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
    
}
.bubble-callTwo{
    position: absolute;
    z-index: -2;
    top: 55%;
    right: 9%;
    animation-name: bubbleCallTwo;
   animation-duration: 19s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
   animation-delay: 1s;
}
@keyframes bubbleCallOne{
    0%{
     top: 35%;
     right: 15%;
    }
     50%{
      top: 35%;
      right: 55%;
    }
      70%{
     top: 10%;
     right: 15%;
    }
    100%{
     top: 35%;
     right:15%;
    }   
 }
 @keyframes bubbleCallTwo{
    0%{
        top: 55%;
        right: 9%;
    }
     50%{
      top: 55%;
      right: 68%;
    }
      70%{
     top: 32%;
     right: 68%;
    }
    100%{
     top: 55%;
     right:9%;
    }    
 }
.hexancy-project-btn{
    box-shadow: none;
    background: var(--light-white);
    color: var(--dark);
    border: 1px solid #99A1AA;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 20px;
    margin-top: 60px;
}
.hexancy-project-btn:hover{
    background-color: var(--color-accent);
    border-color: var(--color-accent)
}

.paralax-image{
    position: absolute;
    left: 17%;
    bottom:-12%;
    z-index: 1;
    border-bottom: 2px solid var(--bg-color-light);
}

.paralax-image-two{
    position: absolute;
    left: 33%;
    bottom:-12%;
    z-index: 0;
    border-bottom: 2px solid var(--bg-color-light);
}
.paralax-image-three{
    position: absolute;
    right: 14%;
    bottom:-12%;
    z-index: 0;
    border-bottom: 2px solid var(--bg-color-light);
}

/* footer area */
#footer{
    padding-top: 160px;
    padding-bottom: 0;
}

footer i{
    font-size: 40px;
    font-weight: 800;
    filter: grayscale(100%);
}
footer div a:hover{
    color: var(--color-primary-sub)
}
.footer-content{
    padding: 30px 0px;
}
footer .section-paragraph{
    font-size: 17px;
    color:var(--dark);
    font-weight: 400;
}
footer .hexancy-btn{
    padding: 15px 30px;
    font-size: 16px;
}
.custom-input-group-text{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
  background: var(--light-white);
  margin: 0;
  font-size: 1rem;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;  
}
.custom-email{
    font-size: 16px;
}
footer input{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;

}
footer input[type=email]:focus .custom-input-group-text{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
  background: var(--light-white);
  margin: 0;
  font-size: 1rem;
  border-radius: 20px;
  margin-left: -1px;
}
ul{
    margin: 0;
    padding: 0;
}
.footer-category-header{
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.service a{
    color: #525260;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 0px;
}
.service a li{
    list-style-type: none;
    margin-left: 0px;

}
.footer-bottom{
    border-top: 1px solid #C7C7D5;
    padding-top: 25px;
}
.footer-bottom p{
    color:#757589;
    font-size: 16px;
}
.footer-bottom a{
    color: #757589;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* responsive start */
@media (max-width: 575.98px) {
    body{
        width: 100%;
        overflow-x:hidden;
    }
    #banner{
        flex-wrap: wrap;
    }
    .banner-content h1{
        font-size: 40px;
        line-height: 45px
    }
    .banner-content p{
        font-size: 18px;
    }
    .hexancy-btn{
        padding: 20px 30px;
        font-size: 16px;
    }
    .banner-image{
        margin-top: 15%!important;
    }
    .image-back{
        width: 90%;
        left: 5%;
        
    }
    .image-front{
        margin-top: 10%;
        width: 100%;
    }
    .imageBackRightOne{
        display: none;
    }
    .image-back-right{
        display: none;
    }
    .subtitle{
        font-size: 15px;
    }
    .title{
        font-size: 30px;
    }
    .section-paragraph{
        font-size: 15px;
    }
    .serviceLine{
        top: 7%;
        width: 100%;
        right: 0%;
        position: absolute;
        z-index: -1;
    }
    .service-category{
        padding: 30px 20px;
        width: 90%;
        margin: auto;
    }
    .icon img{
        width: 55px;
        height: 50px;
    }
    .service-content .subtitle{
        font-size: 18px;
    }
    .service-content p{
        font-size: 16px;
    }
    .caseStudyContent .title{
        line-height: 35px;
    }
    .caseStudyContent .hexancy-btn {
        padding: 20px 30px;
        font-size: 16px;
    }
    
    .counter-number{
        font-size: 2em;
    }
    .first-counter::after{
        width: 1px;
        height: 60px;
        background-color: var(--light-gray);
        position: absolute;
        top: 5%;
        right: 0%;
        /* -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%); */
        transform: translateX(60%);
        margin-right: -50px;
    }
    .counter-title{
        font-size: 13px;
    }
    .caseStudyImage img{
        display: none; 
    }
    .aboutUs-content .title{
        font-size: 30px;
    }
    .aboutus-line{
       width: 120%;
       top: 13%;
    }
    .aboutus-lineTwo{
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
    
    }
    .aboutUsParagraph{
        margin-top: 20px;
        font-size: 16px;
    }
    .contact-form{
        margin-top: 10%;
        width: 90%;
        padding: 30px 25px;
    }
    .contact-form h3.title{
        font-size: 25px;
    }
    .counterUpCategoryMain{
        flex-wrap: wrap;
        margin: auto;
    }
    
    
    .counterup-main .title{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .counterUpParagraph{
        font-size: 16px;
        text-align: justify;
        word-break: keep-all;
        line-break: loose;
    }
    .counterup-main br{
        display: none;
    }
    .counter-content h3{
        font-size: 28px;
    }
    .counterUpCategory{
        width: 45%;
        margin: 10px auto;
        padding: 30px 20px 30px;
    }
   
    .counterUpCategory .icon img{
        width: 30px;
        height: 30px;
    }
    .counter-content .counterup-title{
        font-size: 25px;
    }
    #testimonial{
        background:none;       
    }
    .single-testimonial{
        padding: 5px 20px;
        margin-bottom: 30px;
    }
    .brand{
        filter: grayscale(0);
    }
    blockquote.quotes{
        font-size: 16px;
    }
    .pricing-paragraph{
        font-size: 16px!important;
    }
    .billing-tab .hexancy-btn{
        font-size: 16px;
    }
    .pricing-table-main{
        flex-wrap: wrap;
    }
    .pricing-table{
        width: 90%;
        padding: 50px 5px;
        margin: 30px auto;
    }
     .section-paragraph br{
        display: none;
    }
  
    .brand-logo img{
        width: 170px;
    }
    #callToAction{
    
        padding: 130px 0px;
        background: var(--color-primary);
        position: relative;
        height: 400px;
        width: 100%;
        z-index: 1;
    
    }
    
    .paralax-image{
        width: 35%;
        position: absolute;
        left: 1%;
        bottom:-16%;
        z-index: 1;
        border-bottom:none;
        z-index: -1;
    }
    
    .paralax-image-two{
       display: none;
    }
    .paralax-image-three{
        width: 35%;
        position: absolute;
        right: 1%;
        bottom:-16%;
        z-index: -1;
        border-bottom:none;
    }
    footer i{
        font-size: 20px;
        font-weight: 800;
        filter: grayscale(0);
    }
    .footer-category-header{
        margin-top: 30px;
    }
    .service a{
        font-size: 16px;
    }
    .footer-content{
        padding: 10px 0px;
    }
    .footer-bottom{
        justify-content: center!important;
        flex-wrap: wrap;
    }
    .footer-bottom .section-paragraph{
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .footer-links{
        padding:20px 0px;
    }
}