/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* unique styles */
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;

}
:root {
   --color-primary: #5956e9;
   --color-primary-sub: #3937b5;
   --light-white: #ffffff;
   --dark: #27272E;
   --color-dark: #000000;
   --color-gray: #525260;
   --light-gray: rgb(140, 135, 135);
   --bg-color-light: #ECF2F6;
   --text-color-gray: #99A1AA;
   --color-accent: #FFDC60;
   
  }
.mb-10{
    margin-bottom: 10px!important;
}
/* buttons */
.hexancy-btn{
    border:none;
    padding: 28px 45px;
    box-shadow: 0 44px 84px -24px var(--color-primary);
    background: var(--color-primary);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--light-white);
}
.hexancy-btn:hover{
    color:var(--light-white);
    background: var(--color-primary-sub);
}

/* header */
header{
    position: relative;
}
.topHeaderBackground{
    position: absolute;
    z-index: -1;
    top: -2%;
}
.logo{
    font-family: 'DM Sans', sans-serif;
    color: var(--color-dark);
    font-weight: 500;
    margin-top: 25px;
}
/* banner */
#banner{
    margin-top: 30px;
    position: relative;
}
.bubbleOne{
    width: 20px;
    position:absolute;
    top: 9%;
    left: 10%;
    z-index: -1;
    animation-name: bubbleOne;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.bubbleTwo{
    width: 20px;
    position:absolute;
    bottom: 10%;
    left: 0%;
    z-index: -1;
    animation-name: bubbleTwo;
   animation-duration: 18s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}


@keyframes bubbleOne{
   0%{
    top: 9%;
    left: 0%;
   }
   40%{
     top: 30%;
     left: 95%; 
   }
   70%{
    top: 30%;
    left: 0%;
   }
   100%{
    top: 9%;
    left:0%;
   }
}

 @keyframes bubbleTwo{
    0%{
        bottom: 10%;
        left: 0%;
    }
    50%{
      bottom: 10%;
      left:50%; 
    }
    70%{
     bottom: 50%;
     left: 50%;
    }
    100%{
        bottom: 10%;
        left: 0%;
    }
 } 
.banner-content{
    margin-right: 10%;
}
.banner-content h1{
    color: var(--color-dark);
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 68px;
    line-height:70px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
   
}
.banner-content p{
    color:var(--color-gray);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom:40px;
    z-index: 1;
    position: relative;

}
.banner-image{
    position: relative;
    z-index: 1;
}
.image-front{
    margin-top: 22%;
    z-index:1;
}
.image-back{
    position: absolute;
    z-index: -1;
    left:-20%;
    top: 0%;
}
.imageBackRightOne{
    position: absolute;
    z-index: -2;
    top: -15%;
    right:-7%;
    width: 58%;
}
.image-back-right{
    position: absolute;
    z-index: -1;
    right:7%;
    top: -2%;
}


/* service area */
#service{
    margin-top: -16px;
    padding-top: 120px;
    padding-bottom: 60px;
    background: var(--dark);
    position: relative;
    z-index: 1;
}
.serviceLine{
    top: 5%;
    right: 0%;
    position: absolute;
    z-index: -1;
}
.serviceBubble{
    top: 50%;
    position: absolute;
    z-index: 1;
}
.serviceBubbleCircle{
    top: 48%;
    left: 5.5%;
    position: absolute;
    z-index: 1;
}
.service-information{
    padding-right: 40px;
}
.title{
    font-family: 'DM Sans', sans-serif;
    color: var(--light-white);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.subtitle{
    color: #c75c6f;
    font-weight: 500;
    font-size: 23px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.section-paragraph{
    color:var(--color-gray);
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom:40px;

   
}
.service-category{
    padding: 40px 40px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    z-index: 1;
    
}
.service-category:hover .service-link{
    color: #c75c6f;
}
.service-category:hover .service-paragraph{
    color: var(--light-white);
    transition: all 0.3s ease-in;
}
.service-category:hover{
    background:  #232326; 
}
.service-content .subtitle{
    color: var(--light-white);
}
.service-content .subtitle:hover{
    color: var(--color-primary);
    transition: all 0.3s ease-in;
}
.service-paragraph{
    font-family: 'Poppins', sans-serif;
    color:#676774;
    font-size: 17px;
    margin: 35px 0px;
}
.service-link{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--light-white);
    position: relative;
    padding: 50px;
    transition:all 0.3s ease-in-out;

}
.service-link::before{
    content: '';
    width: 34px;
    height: 1px;
    background-color: var(--light-white);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    
}
.service-link:hover{
    color: #c75c6f;
}


/* case study slider */
#caseStudy{
    padding: 50px 0px;
    margin: 60px 0px;
   
}
.caseStudyContent .title{
    line-height: 60px;
}
.caseStudyParagraph{
    font-size: 16px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
    /* padding-right: 30px; */
}
.caseStudyContent .hexancy-btn{
    box-shadow: none;

}
.counter-up{
    margin: 60px 0px;
}
.first-counter{
    margin-right: 120px;
    position: relative;
}
.first-counter::after{
    content: '';
    width: 1px;
    height: 70px;
    background-color: var(--light-gray);
    position: absolute;
    top: 10%;
    right: 0%;
    /* -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); */
    transform: translateX(60%);
    margin-right: -50px;
}
.counter-number{
    font-family: 'Poppins', sans-serif;
    color: #c75c6f;
    font-size: 3em;
}
.counter-title{
    font-family: 'Poppins', sans-serif;
    color: var(--color-gray);
    font-size: 16px;
}

.carousel-indicators {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding: 0;
    margin-right: 0%;
    margin-bottom: 0;
    margin-left: 7%;
    list-style: none;
}

.carousel-indicators [data-bs-target]{
  
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 12px;
        height: 12px;
        padding: 0;
        margin-right: 20px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: var(--color-primary);
        background-clip: padding-box;
        border: 0;
        border-radius: 50%;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
}
.carousel-indicators .active {
    opacity: 1;
}


/* about us section */
#aboutUs{
    background: var(--bg-color-light);
    padding: 100px 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}
.aboutus-bubble{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
.aboutus-line{
    position: absolute;
    z-index: -1;
}
.aboutus-lineTwo{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

}
.aboutUs-content{
    margin-top: 7%;
}
.aboutUs-content .title{
    font-weight: 500;
    font-size: 3.5em;
}
.aboutUsParagraph{
    font-size: 18px;
    color: var(--color-gray);
    font-family: 'Poppins', sans-serif;
}
.contact-form{
    padding: 40px 40px;
    background-color: #ffffff;
    border:0;
    border-radius: 30px;
    margin-left: 5%;
}
.contact-form .title{
    font-size: 35px;
    color: var(--color-dark)
}
.contact-form .hexancy-btn{
    width: 100%;
    padding: 15px 30px;
    border-radius: 16px;
    font-size: 16px;
}

.custom-form-label{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.custom-input-field{
    border: 1px solid #ECF2F6;
    border-radius: 16px;
    background-color: transparent;
    color: var(--dark);
    padding: 15px 20px;
}
input[type=text]:focus{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
}
input[type=email]:focus{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
}
input[type=tel]:focus{
    border: 0;
    border-color: none;
  box-shadow: 0px 10px 30px -3px #d5d3d3;
  outline: none;
}

/* counter up start */
#counterUp{
    background: var(--dark);
    padding: 100px 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;

}

.counterUpParagraph{
    font-size: 18px;
    color: var(--text-color-gray);
    font-family: 'Poppins', sans-serif;
}

.counterUpCategory{
    padding: 70px 20px 70px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s linear;
    margin-right: 20px;

}
.counterUpCategory:hover{
    border-image-source: linear-gradient(0deg, #27272E 64.45%, rgba(74, 75, 86, 0.72) 100%);
    background: linear-gradient(180deg, #27272E 0%, #303035 100%);
}
.counterUpCategory .title{
  color: var(--color-primary-sub);
  letter-spacing: 0px;
}
.counterup-title{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: var(--light-white)
}

/* testimonial start */
#testimonial{
    padding-bottom: 100px;
    background: url('/assets/others/bubble-1.png');
    background-repeat: no-repeat;
    background-size: auto;
   background-position-x: 70%;
   background-position-y: 0%;
   
}

.testimonialParagraph{
        font-size: 18px;
        color: var(--text-color-gray);
        font-family: 'Poppins', sans-serif;
}
.single-testimonial{
    margin-top: 30px;
    border-top: 2px solid transparent;
    padding-top: 30px;
    padding-right: 20px;
    transition: all 0.3s linear;
    
}
.single-testimonial:hover{
    border-color: var(--color-primary);
}
blockquote.quotes{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}
.profileName{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:var(--color-dark);
    margin-left: 17px;
    margin-bottom: 0px;
}
.designation{
    font-weight: 400;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:var(--text-color-gray);
    margin-left: 17px;
    margin-top: 0px;
}

/* pricing plan start */
#pricingPlan{
    padding: 100px 0px;
    background: var(--bg-color-light);
}
.pricing-paragraph{
    font-size: 18px!important;
    color: var(--text-color-gray)!important;
    font-family: 'Poppins', sans-serif!important;
}
.billing-tab{
    background: var(--light-white);
    padding: 5px 5px;
    border-radius: 50px;
    border: 1px solid #E3E6E9;

}
.billing-tab .hexancy-btn{
    box-shadow: none;
    border: none;
    padding: 15px 30px;
    font-size: 17px;
    margin-right: 0px;
}
.pricing-table{
    padding: 40px 70px;
    border-radius: 40px;
    background-color:var(--light-white);
    margin-right: 25px;
    transition: all 0.5s linear;
    cursor: pointer;

}
.pricing-table:hover{
    background: var(--color-primary);
    color: var(--light-white)!important;
}
.pricing-table-header .title{
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 10px;
}
.pricing-table:hover .pricing-table-header .title{
    color: var(--light-white)!important;
}
.pricing-paragraph{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
}
.pricing-table:hover .pricing-table-header .pricing-paragraph{
    color: var(--light-white)!important;
}
.pricing-details{
    padding-top: 30px;
    border-top: 1px solid #E3E6E9;
}
.pricing-table:hover .pricing-details{
    border-top: 1px solid var(--text-color-gray);
}
.pricing-details .title{
    font-size: 60px;
}
.pricing-table:hover .pricing-details .title{
    color: var(--light-white)!important;
}
span.billing-duration{
    font-size: 14px;
    color: var(--text-color-gray);
    margin-left: 5px;
}
.pricing-table:hover span.billing-duration{
    color: var(--light-white)!important;
}
.pricing-details .hexancy-btn{
    box-shadow: none;
    background: var(--light-white);
    color: var(--dark);
    border: 1px solid #99A1AA;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 20px;
}

.pricing-table .hexancy-btn:hover{
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
}
.features{
    padding-top: 30px;
}
.custom-list-item{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-gray);
    border: none;
    margin-bottom: 5px;
    background: none;
}
.pricing-table:hover .custom-list-item{
   color: var(--light-white);
}
